name: release

on:
  push:
    branches:
      - {{defaultBranch}}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: {{nodeVersion}}
      - run: {{installCommand}}
      - run: {{testCommand}}{{extraSteps}}
